---
import Header from "../components/header/Header.astro";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "../i18n/utils";
import { seo } from "../i18n/seo";

interface Props {
  title: string;
}

const lang = getLangFromUrl(Astro.url);

const { description } = seo[lang!];

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://nikaa.online/" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      as="font"
      href="/fonts/Montserrat.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/NotoSansGeorgian.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nikaa.online/" />
    <meta property="og:image" content="https://github.com/etherbits.png" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://github.com/etherbits.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col bg-black overflow-x-hidden text-slate-300 font-sans tracking-normal md:tracking-wider sm:min-h-screen"
  >
    <Header />
    <div
      class="flex flex-col p-5 sm:p-8 items-center flex-grow"
      transition:animate="fade"
    >
      <slot />
    </div>
    <style is:global>
      @font-face {
        font-family: "Montserrat";
        src: url("/fonts/Montserrat.woff2") format("woff2");
        font-weight: 100 1000;
        unicode-range: U+0020-007F;
        font-display: swap;
      }

      @font-face {
        font-family: "NotoSansGeorgian";
        src: url("/fonts/NotoSansGeorgian.woff2") format("woff2");
        font-weight: 100 1000;
        unicode-range: U+10A0-10FF;
        font-display: swap;
      }

      ::-webkit-scrollbar {
        width: 0.75rem;
      }

      ::-webkit-scrollbar-track {
        background: #0a0a0a;
      }

      ::-webkit-scrollbar-thumb {
        transition: 150ms;
        background: rgb(71, 85, 105);
        background: linear-gradient(
          180deg,
          rgba(71, 85, 105, 1) 0%,
          rgba(55, 65, 81, 1) 100%
        );
      }

      ::-webkit-scrollbar-thumb:hover {
        background: rgb(100, 116, 139);
        background: linear-gradient(
          180deg,
          rgba(100, 116, 139, 1) 0%,
          rgba(75, 85, 99, 1) 100%
        );
      }
    </style>
  </body>
</html>
